<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<body data-spy="scroll" data-target="#navbar" data-offset="60">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id='preloader'>
		<div class='loader'>
			<img src="resour/img/three-dots.svg" width="60" alt="">
		</div>
	</div>
	<!-- Preloader -->

	<section class="slider_section">
		<ul>
			<li class="slider_item" style="background-image: url(resour/img/ammunition-bg.jpg); height:350px">
				<div class="display-table">
					<div class="table-cell">
						<div class="container">
							<div class="slider_content">
								<!-- <h1 class="">DISCOVER</h1>
								<h2 class="">The World You Have Never Seen.</h2>
								<p class="">Creating outstanding websites effortless & intuitive.Linax is the first Design <br>Driven html template with bullet-proof code.</p>
							 -->
							</div>
						</div>
					</div>
				</div>
			</li>

		</ul>

	</section>
	<!-- /.slider_section -->

  <section class="about_section bg-white padding">
		<div class="about_img hidden-xs" style="background-image: url(resour/img/about4.jpg)"></div>
		<!-- /.about_img -->
		<div class="container">
			<div class="col-sm-6 col-sm-offset-6">
				<div class="about_content">
					<h2>Our Story.</h2>
          	<h4>North Ammunition Industries is one of Lebanon’s leading manufacturers of well built, reliable cartridges for the hunting society.
              <br> NAI was established in 2010 in north Lebanon, Besebhel.</h4>
            <h4> We've been serving the highest cartridge quality all over Lebanon. Due to your trust and encouragement , our team in North Ammunition Industries decided to 
							extend the company by providing a bigger location with a greater productivity .
						</h4>
						<h4>Our products are designed to help progress and develop the shooters performance to achieve
							far reaching results. All of our shots are made to rigorous quality control standards to 
							ensure the highest quality at all time .</h4>
				</div>
			</div>
		</div>
	</section>


	<section class="about_section bg-dark padding">
			<div class="container">
			  <div class="col-md-12">
				<div class="about_content">
				  <h2 class="text-white align-center">Our Aim.</h2>
				  <h4 class="text-white">Our aim is to bring something very special to the world of firearms - a compilation of features that we have found to be the best for overall function, 
						accuracy, and hard use. </h4>
				</div>
			  </div>
			</div>
		  </section>

	<section class="about_section bg-white padding">
			<div class="about_img hidden-xs" style="background-image: url(resour/img/about3.jpg)"></div>
			<!-- /.about_img -->
			<div class="container">
			  <div class="col-sm-6 col-sm-offset-6">
				<div class="about_content">
				  <h2>The Factory.</h2>
				  <h4>Think of the characteristics that NAI's cartridges are locally known for - originality,
						performance, high quality and customer satisfaction. 
						The ability to control these aspects are the measurable strengths that our team handled,
						which consists of adequately chosen members who went through different stages of training 
						and observation in order to reach a certain level of knowledge and apprehension. Additionally, our 
						supervised team that oversees the work to guarantee the finest quality and to test the 
						efficiency as well the safety of the cartridges. 
					</h4>
				</div>
			  </div>
			</div>
		  </section>

			<section class="about_section bg-dark padding">
				<div class="container">
					<div class="col-md-12">
					<div class="about_content">
						<h2 class="align-center text-white">Our Commitment.</h2>
						<h4 class="text-white">The commitment to providing clients with the highest quality services possible is what 
							sets NAI from the rest. No matter what cartridges you shoot, chances are we can make it
							shoot better. We do not only build the industry's widest variety of ammunition, but also we offer the 
							leading products for every facet of the shooting sports.</h4>
					</div>
					</div>
				</div>
				</section>


			   <section class="about_section bg-white padding">
					<div class="about_img hidden-xs" style="background-image: url(resour/img/about2.jpg)"></div>
					
					<div class="container">
					  <div class="col-sm-6 col-sm-offset-6">
						<div class="about_content">
						  <h2>The Motivation.</h2>
						<h4>NAI’s professional team and hardworking quality control members are the main reason why our high quality
							 cartridges have become highly demanded in a few years and we have reached a significant market share. Not 
							 forgetting the clients’ satisfaction and trust. <br>
							 Due to all these reasons, we managed to set ground for what we have become today, as well as we aspire to become the first
							 Lebanese international provider of ammunition in order to reach all the shooting-loving market.
						</h4>
						</div>
					  </div>
					</div>
				  </section> 
    
	<footer class="footer_section bg-dark">
		<div class="container">
			<div class="col-sm-4 xs-text-center xs-padding">
				<a href="#" class="brand logo-light">
					<img src="resour/img/logo-light.png" alt="Foxstar">
				</a>
			</div>
			<div class="col-sm-4 align-center xs-padding">
				<p class="no-margin">&copy; <span id="year"></span> Nai Powered by
					<a href="#">AE Development</a>
				</p>
			</div>
			<div class="col-sm-4 align-right xs-text-center xs-padding">
					<ul class="social_links">
							<li>
								<a href="https://www.facebook.com/NorthAmmIndustries/" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="mailto:north.ammunition@gmail.com" target="_blank">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/northammunitionindustries/" target="_blank">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
						</ul>
			</div>
		</div>
	</footer>
	<!-- /.footer_section -->



</body>

</html>