<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<body data-spy="scroll" data-target="#navbar" data-offset="60">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id='preloader'>
		<div class='loader'>
			<img src="resour/img/three-dots.svg" width="60" alt="">
		</div>
	</div>
	<!-- Preloader -->


	<section class="slider_section">
		<ul>
			<li class="slider_item" style="background-image: url(resour/img/slider-4.jpg); height:350px">
				<div class="display-table">
					<div class="table-cell">
						<div class="container">
							<div class="slider_content">

							</div>
						</div>
					</div>
				</div>
			</li>

		</ul>

	</section>
	<!-- /.slider_section -->

	<section class="destination_section">
		<div class="destination_head">
			<div class="container">
				<div class="col-sm-4 hidden-xs">
					<img src="resour/img/ammunition-bg.png" alt="Destination" >
				</div>
				<div class="col-sm-8">
					<div class="section_heading">
						<h2>
							<font color="white">Choose Your Ammo Wisely</font>
						</h2>
						<font color="white">
							<p>For the past 8 years we have enjoyed the enviable reputation for manufacturing
								<br> the best and most consistent shotgun cartridges on the market.
							</p>High quality, sourced from just the best manufacturers and custom-made to match our
							<br> requirements. Designed by shooters, supplied by shooters... for shooters.
							<br>
							<br>
							<p>For wholesale orders please call us on +961 76333117.</p>
						</font>
					</div>
				</div>
			</div>
		</div>
		<!-- /.destination_head -->

		<div class="container-fluid no-padding">
			<ul class="desti_items">
				<li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/84.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Spark - Gualandi</p>
								<p><strong>Speed:</strong> 405</p>
								<p><strong>Powder Type:</strong> Prima V</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">26gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/84.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Light Load</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>


                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10085.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Super G - Gualandi</p>
								<p><strong>Speed:</strong> 400</p>
								<p><strong>Powder Type:</strong> Prima V</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">28gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10085.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Classic</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10086.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Super G- Gualandi</p>
								<p><strong>Speed:</strong> 410</p>
								<p><strong>Powder Type:</strong> AS</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">28gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10086.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Super Velocity</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10087.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Super G - Gualandi</p>
								<p><strong>Speed:</strong> 405</p>
								<p><strong>Powder Type:</strong> C7</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">27gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10087.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Special Load</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/65.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 7.5</p>
								<p><strong>Wad:</strong> Spark - Gualandi</p>
								<p><strong>Speed:</strong> 415</p>
								<p><strong>Powder Type:</strong> 206 SV</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">24gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/65.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Trap Load</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10088.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">EGO</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9</p>
								<p><strong>Wad:</strong> Super G H22 - Gualandi</p>
								<p><strong>Speed:</strong> 415</p>
								<p><strong>Powder Type:</strong> A1</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">30gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10088.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Premium</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10090.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">EGO</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 7,8</p>
								<p><strong>Wad:</strong> Super G H22 - Gualandi</p>
								<p><strong>Speed:</strong> 390</p>
								<p><strong>Powder Type:</strong> GM3</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">32gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10090.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Hi - Power</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10089.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ELITE</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 2,3,4,5,6</p>
								<p><strong>Wad:</strong> Super G H19 - Gualandi</p>
								<p><strong>Speed:</strong> 380</p>
								<p><strong>Powder Type:</strong> A1SP</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 23</p>
								

								<span class="price">36gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10089.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Heavy Load</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/69.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 20</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Super G H15 - Gualandi</p>
								<p><strong>Speed:</strong> 400</p>
								<p><strong>Powder Type:</strong> A1</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 10</p>
								

								<span class="price">28gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/69.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Aim High</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/86.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 36</p>
								<p><strong>Size:</strong> 10</p>
								<p><strong>Wad:</strong> Cup</p>
								<p><strong>Speed:</strong> -</p>
								<p><strong>Powder Type:</strong> GM3</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">8.5gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/86.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Standard</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10092.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY</h3>
								<p><strong>Gauge:</strong> 36</p>
								<p><strong>Size:</strong> 10</p>
								<p><strong>Wad:</strong> Cup</p>
								<p><strong>Speed:</strong> -</p>
								<p><strong>Powder Type:</strong> GM3</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">7gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10092.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Light Charge</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10093.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">SS (150 Shells)</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 9,10</p>
								<p><strong>Wad:</strong> Super G - Gualandi</p>
								<p><strong>Speed:</strong> 400</p>
								<p><strong>Powder Type:</strong> 206V</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">26gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10093.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Seek & Strike</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10094.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY (140 Shells)</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Super G - Gualandi</p>
								<p><strong>Speed:</strong> 400</p>
								<p><strong>Powder Type:</strong> Prima V</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">28gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10094.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Classic</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>

                <li class="col-md-3 col-xs-6">
					<div class="desti_item">
						<img src="resour/img/10095.jpg">
						<div class="overlay">
							<div class="top_content">
								<h3 class="text-orange">ENERGY (140 Shells)</h3>
								<p><strong>Gauge:</strong> 12</p>
								<p><strong>Size:</strong> 8,9,10</p>
								<p><strong>Wad:</strong> Super G - Gualandi</p>
								<p><strong>Speed:</strong> 410</p>
								<p><strong>Powder Type:</strong> AS</p>
								<p><strong>Hull Length:</strong> 70</p>
								<p><strong>Brass Length:</strong> 16</p>
								

								<span class="price">28gr</span>
							</div>
							<div class="bottom_content">
								<a src="resour/img/10095.jpg" class="img_popup" target="_blank">
									<h3 class="text-white">
										<span>Super Velocity</span>
									</h3>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<!-- /.desti_items -->
		</div>
	</section>
	<!-- /.destination_section -->


	<footer class="footer_section bg-dark">
		<div class="container">
			<div class="col-sm-4 xs-text-center xs-padding">
				<a href="#" class="brand logo-light">
					<img src="resour/img/logo-light.png" alt="Foxstar">
				</a>
			</div>
			<div class="col-sm-4 align-center xs-padding">
				<p class="no-margin">&copy; <span id="year"></span> Nai Powered by
					<a href="#">AE Development</a>
				</p>
			</div>
			<div class="col-sm-4 align-right xs-text-center xs-padding">
					<ul class="social_links">
							<li>
								<a href="https://www.facebook.com/NorthAmmIndustries/" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="mailto:north.ammunition@gmail.com" target="_blank">
									<i class="fa fa-google-plus"></i>
								</a>
							</li> 
							<li>
								<a href="https://www.instagram.com/northammunitionindustries/" target="_blank">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
						</ul>
			</div>
		</div>
	</footer>
	<!-- /.footer_section -->




</body>

</html>