<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<body data-spy="scroll" data-target="#navbar" data-offset="60">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div id='preloader'>
        <div class='loader'>
            <img src="resour/img/three-dots.svg" width="60" alt="">
        </div>
    </div>
    <!-- Preloader -->

   
    <section id="home" class="slider_section">
        <ul id="main-slider" class="owl-carousel main_slider">
            <li class="slider_item" style="background-image: url(resour/img/slider-6.jpg)">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="slider_content">
                                <h1 class="text-white">Innovation & Quality.</h1>
                                <!-- <h2 class="text-white">We are North Lebanon’s </h2> -->
                                <p class="text-white">Each day we work harder. Trying to reach the maximum <br> excellence will never stop being our first desire.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider_item" style="background-image: url(resour/img/slider-7.jpg)">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="slider_content">
                                <h1 class="text-white">Commited to superior quality<br> and best results.</h1>
                                <!-- <h2 class="text-white">The World You Have Never Seen.</h2> -->
                                <p class="text-white">We always ensure to apply all the rules of fine quality production <br> and to test the efficiency as well as safety of our cartridges.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider_item" style="background-image: url(resour/img/slider-8.jpg)">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="slider_content">
                                <h1 class="text-white">The Finest Ammunition.</h1>
                                <!-- <h2 class="text-white">The finest ammunition.</h2> -->
                                <p class="text-white">With high skills and experience, we held the highest marques of <br> excellence - ENERGY, SS, EGO, ELITE and much more.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search_tours_section">
            <div class="container">
                <div class="search_tours_wrap">
                    <form action="#" method="post" class="form-horizontal search_tours_form">
                        <div class="form-group">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.search_tours_section -->
    </section>
    <!-- /.slider_section -->

    <section id="about" class="about_section bg-grey bd-bottom padding">
        <div class="about_img hidden-xs" style="background-image: url(resour/img/about0.jpg)"></div>
        <!-- /.about_img -->
        <div class="container">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="about_content">
                    <h2>About Us</h2>
                    <h4>North Ammunition Industries is one of Lebanon’s leading manufacturers of well built, reliable cartridges for the hunting society.
                        <br> NAI was established in 2010 in north Lebanon, Besebhel.</h4>
                    <h4> We've been serving the highest cartridge quality all over Lebanon. Due to your trust and encouragement , our team in North Ammunition Industries decided to extend the company by providing a bigger location with a greater productivity
                        .
                    </h4>
                    <h4>Our products are designed to help progress and develop the shooters performance to achieve far reaching results. All of our shots are made to rigorous quality control standards to ensure the highest quality at all time .</h4>

                    <a class="fs_btn" routerLink="/about">
						<i class="fa fa-caret-right"></i>Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.about_section -->

    <section id="destination" class="destination_section">
        <div class="destination_head">
            <div class="container">
                <div class="col-sm-4 hidden-xs">
                    <img src="resour/img/front-bg.png" alt="Destination">
                </div>
                <div class="col-sm-8">
                    <div class="section_heading">
                        <h2>
                            <font color="white">Choose Your Ammunition</font>
                        </h2>
                        <font color="white">
                            <p>We have dealers all around the country the best and most consistent <br> shotgun cartridges on the market.
                            </p> High quality, sourced from just the best manufacturers and custom-made to match our
                            <br> specific requirements.
                        </font>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.destination_head -->
        <br>
        <br>
        <div class="container-fluid no-padding">
            <div class="section_heading align-center mb-40">
                <h2>Choose From Our Finest Ammunition</h2>
                <p>Several events are being prepared to take place throughout the year. Stay tuned! </p>
            </div>
            <ul class="desti_items">
                <li class="col-md-3 col-xs-6">
                    <div class="desti_item">
                        <img src="resour/img/energy-1.jpg" alt="Destination">
                        <div class="overlay">
                            <div class="top_content">
                                <h3 class="text-orange">ENERGY</h3>
                                <p><strong>Gauge:</strong> 12</p>
                                <p><strong>Size:</strong> 8,9,10</p>
                                <p><strong>Wad:</strong> Spark - Gualandi</p>
                                <p><strong>Speed:</strong> 405m/s</p>
                                <p><strong>Powder Type:</strong> Prima V</p>
                                <p><strong>Hull Length:</strong> 70mm</p>
                                <p><strong>Brass Length:</strong> 16mm</p>

                                <span class="price">26gr</span>
                            </div>
                            <div class="bottom_content">
                                <a href="resour/img/energy-1.jpg" class="img_popup">
                                    <h3 class="text-white">
                                        <span>Light Load</span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6">
                    <div class="desti_item">
                        <img src="resour/img/energy-2.jpg" alt="Destination">
                        <div class="overlay">
                            <div class="top_content">
                                <h3 class="text-orange">ENERGY</h3>
                                <p><strong>Gauge:</strong> 12</p>
                                <p><strong>Size:</strong> 8,9,10</p>
                                <p><strong>Wad:</strong> Super G - Gualandi</p>
                                <p><strong>Speed:</strong> 400m/s</p>
                                <p><strong>Powder Type:</strong> Prima V</p>
                                <p><strong>Hull Length:</strong> 70mm</p>
                                <p><strong>Brass Length:</strong> 16mm</p>


                                <span class="price">28gr</span>
                            </div>
                            <div class="bottom_content">
                                <a href="resour/img/energy.jpg" class="img_popup">
                                    <h3 class="text-white">
                                        <span>Classic</span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6">
                    <div class="desti_item">
                        <img src="resour/img/energy-3.jpg" alt="Destination">
                        <div class="overlay">
                            <div class="top_content">
                                <h3 class="text-orange">ENERGY</h3>
                                <p><strong>Gauge:</strong> 12</p>
                                <p><strong>Size:</strong> 8,9,10</p>
                                <p><strong>Wad:</strong> Super G - Gualandi</p>
                                <p><strong>Speed:</strong> 410m/s</p>
                                <p><strong>Powder Type:</strong> AS</p>
                                <p><strong>Hull Length:</strong> 70mm</p>
                                <p><strong>Brass Length:</strong> 16mm</p>

                                <span class="price">28gr</span>
                            </div>
                            <div class="bottom_content">
                                <a href="resour/img/energy-3.jpg" class="img_popup">
                                    <h3 class="text-white">
                                        <span>Super Velocity</span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6">
                    <div class="desti_item">
                        <img src="resour/img/ego-4.jpg" alt="Destination">
                        <div class="overlay">
                            <div class="top_content">
                                <h3 class="text-orange">EGO</h3>
                                <p><strong>Gauge:</strong> 12</p>
                                <p><strong>Size:</strong> 8,9</p>
                                <p><strong>Wad:</strong> Super G H22 - Gualandi</p>
                                <p><strong>Speed:</strong> 415m/s</p>
                                <p><strong>Powder Type:</strong> A1</p>
                                <p><strong>Hull Length:</strong> 70mm</p>
                                <p><strong>Brass Length:</strong> 16mm</p>

                                <span class="price">30gr</span>
                            </div>
                            <div class="bottom_content">
                                <a href="resour/img/ego-4.jpg" class="img_popup">
                                    <h3 class="text-white">
                                        <span>Premium</span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <div class="col-md-9 "></div>
			<div class="col-md-2">
				<br>
				<button id="fs-submit" class="fs_btn" type="submit" style="width:300px" (click)="onTap()">Choose Your Type</button>
				
			</div> -->
        </div>
        <br>
        <div class="container">
            <div class="subscribe_wrap">
                <form class="subscribe_form" style="margin: 0 auto;">
                    <a routerLink="/ammunition" id="fs-submit" class="fs_btn" type="submit" style="width:200px" >Collection</a>
                </form>
            </div>
        </div>




        <!-- /.desti_items -->

        <br>
    </section>
    <!-- /.destination_section -->

    <section class="funfact_section bg-dark padding">
        <div class="container">
            <ul class="fact_items">
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <div class="fact_content">
                        <i class="fa fa-industry"></i>
                        <h3 class="text-white counter">10000000</h3>
                        <p>CARTRIDGE PER YEAR</p>
                    </div>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <div class="fact_content">
                        <i class="fa fa-users"></i>
                        <h3 class="text-white counter">200000</h3>
                        <p>SATISFIED HUNTERS</p>
                    </div>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <div class="fact_content">
                        <i class="fa fa-crosshairs"></i>
                        <h3 class="text-white counter">10000000</h3>
                        <p>SHOTS FIRED PER YEAR</p>
                    </div>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <div class="fact_content">
                        <i class="fa fa-check-circle"></i>
                        <h3 class="text-white counter">8</h3>
                        <p>YEARS OF SUCCESS</p>
                    </div>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <div class="fact_content">
                        <i class="fa fa-map"></i>
                        <h3 class="text-white counter">18</h3>
                        <p>SUCCESSFUL EVENTS</p>
                    </div>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                    <div class="fact_content">
                        <i class="fa fa-user"></i>
                        <h3 class="text-white counter">24</h3>
                        <p>EMPLOYEES</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- /.funfact_section -->

    <section class="content_slider_section">
        <div id="content-slider" class="owl-carousel content_slides">
            <div class="content_slide" style="background-image: url(resour/img/pp-bg.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <p class="text-white" style="font-family:lucida; font-size:23px; font-weight:initial; font-style: italic; text-shadow: 1px 1px 4px #000000">"Hunting involves killing and the truth is... I am always saddened when I kill an animal. It's not remorse I feel, I know why I'm a hunter. It's out of respect. "</p>
                        <!-- <img src="resour/img/fred.jpg" style="border-radius: 50%; max-width:50px; max-height:50px;border:1px solid rgb(255, 255, 255) "> -->
                        <h4 class="text-white">~Donnie Vincent.</h4>

                    </div>
                </div>
            </div>
            <div class="content_slide" style="background-image: url(resour/img/pp-bg2.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <p class="text-dark" style="font-family:lucida; font-size:23px; font-weight:initial; font-style: italic; text-shadow: 0px 0px 0px #000000">“ A sportsman is a man who, every now and then, simply has to get out and kill something. Not that he is cruel. He would not hurt a fly. It's not big enough."</p>
                        <!-- <img src="resour/img/stephen.jpg" style="border-radius: 50%; max-width:50px; max-height:50px; "> -->
                        <h4 class="text-dark" style="text-shadow: 0px 0px 0px #000000">~Stephen Leacock.</h4>
                    </div>
                </div>
            </div>
            <div class="content_slide" style="background-image: url(resour/img/pp-bg1.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <p class="text-white" style="font-family:lucida; font-size:23px; font-weight:initial; font-style: italic; text-shadow: 1px 1px 4px #000000">“ When a hunter is in a treestand with moral values and with the proper hunting ethics and richer for the experience, that hunter is twenty feet closer to God.”</p>
                        <!-- <img src="resour/img/fred.jpg" style="border-radius: 50%; max-width:50px; max-height:50px; "> -->
                        <h4 class="text-white">~Fred Bear.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content slider section -->

    <section id="subscribe" class="subscribe_section bg-dark padding">
        <div class="container">
            <div class="col-md-6">
                <div class="section_heading">
                    <h2 class="text-white">Check Our Latest Hot Offers.</h2>
                    <p>Follow us on Social Media and never miss our latest deals.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subscribe_wrap">
                    <form class="subscribe_form">
                        <ul class="social_links">
                            <li>
                                <a href="https://www.facebook.com/NorthAmmIndustries/" target="_blank">
                                    <i class="fa fa-facebook-square fa-4x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:north.ammunition@gmail.com" target="_blank">
                                    <i class="fa fa-google-plus fa-4x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/northammunitionindustries/" target="_blank">
                                    <i class="fa fa-instagram fa-4x"></i>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- /.subscribe_wrap -->
            </div>
        </div>
    </section>
    <!-- /.subscribe_section -->

    <section id="testimonial" class="testimonial_section padding">
        <div class="container">
            <div class="section_heading align-center mb-40">
                <h2 class="text-white">Our Dealers</h2>
                <p class="text-white">Find your nearest Energy cartridge dealer.</p>
            </div>
            <ul class="testi_items">
                <li class="col-md-4 col-xs-6 sm-padding">
                    <div class="testi_content align-center">
                        <img src="resour/img/dealer.jpg" alt="Testimonial">
                        <h4>Dealer Name</h4>
                        <p>Location</p>
                        <p>Phone</p>
                        <!-- <p>{{x.EMAIL}}</p> -->
                    </div>

                </li>

                <li class="col-md-4 col-xs-6 sm-padding">
                    <div class="testi_content align-center">
                        <img src="resour/img/dealer.jpg" alt="Testimonial">
                        <h4>Dealer Name</h4>
                        <p>Location</p>
                        <p>Phone</p>
                        <!-- <p>{{x.EMAIL}}</p> -->
                    </div>
                </li>
                <li class="col-md-4 col-xs-6 sm-padding">
                    <div class="testi_content align-center">
                        <img src="resour/img/dealer.jpg" alt="Testimonial">
                        <h4>Dealer Name</h4>
                        <p>Location</p>
                        <p>Phone</p>
                        <!-- <p>{{x.EMAIL}}</p> -->
                    </div>
                </li>
            </ul>

            <!-- <div class="col-xs-12 align-center">
                <br>
                <button id="fs-submit" class="fs_btn" type="submit" style="width:250px" >View Dealers</button>
            </div> -->

        </div>
    </section>
    <!-- /.testimonial_section -->

    <section id="blog" class="blog_section padding">
        <div class="container">
            <div class="section_heading align-center mb-40">
                <h2>Stay Tuned For Upcoming Events</h2>
                <p>Several events are being prepared to take place throughout the year. Stay tuned! </p>
            </div>
            <!-- /.section_heading -->
            <ul class="blog_posts">
                <li class="col-md-4 col-xs-6 sm-padding">
                    <div class="blog_content">
                        <img src="resour/img/blog-1.jpg" alt="Blog Post">
                        <h4>
                            <a href="#">HUNTING TRIPS</a>
                        </h4>
                        <P>Nai team will be arranging several hunting trips and tours during the year to your dream destinations where you can enjoy the unforgettable experience. </P>
                        <a href="#" class="read_more">READ MORE</a>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6 sm-padding">
                    <div class="blog_content">
                        <img src="resour/img/blog-2.jpg" alt="Blog Post">
                        <h4>
                            <a href="#">CLAY TARGET SHOOTING</a>
                        </h4>
                        <P>Nai will be organizing clay shooting competitions for male and females of all ages.</P>
                        <a href="#" class="read_more">READ MORE</a>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6 sm-padding">
                    <div class="blog_content">
                        <img src="resour/img/blog-3.jpg" alt="Blog Post">
                        <h4>
                            <a href="#">CAMPS AND DINNERS FOR HUNTERS</a>
                        </h4>
                        <P>Nature is the hunter's home. Therefore, nothing is more freshening than camping in the woods and sitting around a campfire under a clear sky.</P>
                        <a href="#" class="read_more">READ MORE</a>
                    </div>
                </li>
            </ul>
            <!-- /.blog_posts -->
        </div>
    </section>
    <!-- /.blog_Section -->

    <section id="contact" class="contact_section overlay padding">
        <div class="container">
            <div class="section_heading align-center mb-40">
                <h2 class="text-white">Contact Us</h2>
                <p class="text-white"><strong>Email:</strong> info&#64;naindustries.co</p>
                <p class="text-white"><strong>Phone:</strong> +961 76333117</p>

            </div>
            <!-- /.section_heading -->
            <div class="col-sm-10 col-sm-offset-1">
                <div class="contact_form">
                    <form action="contact.php" method="post" id="ajax_form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea id="message" name="message" cols="30" rows="5" class="form-control msg" placeholder="Message" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 align-center">
                                <button id="fs-submit" class="fs_btn" type="submit">Send Message</button>
                            </div>
                        </div>
                        <div id="form-messages" class="alert" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.contact_section -->

    <footer class="footer_section bg-dark">
        <div class="container">
            <div class="col-sm-4 xs-text-center xs-padding">
                <a href="#" class="brand logo-light">
                    <img src="resour/img/logo-light1.png" alt="North Ammunition Industries">
                </a>
            </div>
            <div class="col-sm-4 align-center xs-padding">
                <p class="no-margin">&copy; <span id="year"></span> Nai Powered by
                    <a href="#">AE Development</a>
                </p>
            </div>
            <div class="col-sm-4 align-right xs-text-center xs-padding">
                <ul class="social_links">
                    <li>
                        <a href="https://www.facebook.com/NorthAmmIndustries/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:north.ammunition@gmail.com" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/northammunitionindustries/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- /.footer_section -->

    <a data-scroll href="#header" id="scroll-to-top">
        <i class="arrow_carrot-up"></i>
    </a>


</body>

</html>